mixin project(proj)
  - const image = proj.data.image || "/assets/images/projects/default.png";
  .project
    img(src=image, alt="Website screenshot").project__image
    .project__text
      h2.project__title=proj.data.title
      p.project__description=proj.data.description
      .project__stack
        if proj.data.techStack 
          p Tech Stack: 
          ul.project__pills 
            each tech in proj.data.techStack 
              li=tech
      .project__links
        if proj.data.tags.includes("codepen")
          a(href=proj.data.liveLink target="_blank").btn View Codepen
        if proj.data.githubLink
          a(href=proj.data.githubLink target="_blank").btn  
            i.fab.fa-github
            span Code
        if proj.data.liveLink && !proj.data.tags.includes("codepen")
          a(href=proj.data.liveLink target="_blank").btn View live
