mixin project(proj)
  - const image = proj.data.image || "/assets/images/projects/default.png";
  .project
    h2=proj.data.title
    img(src=image, alt="Website screenshot").project__image
    if proj.data.githubLink
      a(href=proj.data.githubLink target="_blank") View on Github
    if proj.data.liveLink 
      a(href=proj.data.liveLink target="_blank") View live

    p=proj.data.description
    if proj.data.techStack 
      p Tech Stack
      each tech in proj.data.techStack 
        ul 
          li=tech